body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #385ad6;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.main-content {
    margin-left: 310px; 
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card input {
    margin-top: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

#compareButton {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.comparison-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.comparison-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.comparison-card img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.spec-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.spec-list li {
    margin-bottom: 5px;
}
